@model List<CineTrujilloWeb.Models.Asiento>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Asientos";
}

<div class="asientos-page">

    <h2>Selecciona tus asientos</h2>

    <form method="post" action="/Compra/Comprar">

        <input type="hidden" name="idFuncion" value="@ViewBag.IdFuncion" />

        <div class="sala">
            @foreach (var a in Model)
            {
                var ocupado = a.Estado == "Ocupado";

                <label class="asiento @(ocupado ? "ocupado" : "")">

                    @if (!ocupado)
                    {
                        <input type="checkbox" name="asientos" value="@a.IdAsiento" />
                    }

                    <span>@a.Numero</span>
                </label>
            }
        </div>

        <button class="btn">Comprar</button>

    </form>

</div>