@model List<CineTrujilloWeb.Models.Funcion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Funciones";
}

<div class="funciones-page">

    <h2>Selecciona Función</h2>

    <div class="grid">
        @foreach (var f in Model)
        {
            <div class="card">
                <h4>Sala: @f.Sala</h4>
                <p>@f.Horario.ToString("HH:mm")</p>

                <a href="/Compra/Asientos?idFuncion=@f.IdFuncion" class="btn">
                    Seleccionar
                </a>
            </div>
        }
    </div>

</div>